{
  "plugins": [
    "@babel/proposal-class-properties",
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "app": "./src/app",
          "assets": "./src/assets",
          "components": "./src/components",
          "content": "./src/content",
          "contexts": "./src/contexts",
          "hooks": "./src/hooks",
          "layouts": "./src/layouts",
          "models": "./src/models",
          "pages": "./src/pages",
          "router": "./src/router",
          "theme": "./src/theme",
          "utils": "./src/utils",


          "modules": "./src/modules",
          "api": "./src/services/api",
          "routes": "./src/routes",
          "state": "./src/state",
          "release_notes": "./src/release_notes",
          "domain": "./src/domain"

        }
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    [
      "@babel/preset-typescript",
      {
        "modules": false
      }
    ],
    [
      "@babel/preset-react",
      {
        "modules": false
      }
    ]
  ]
}